{% extends "base.html" %}

{% block title %}{{ article.title|truncate(30) }}{% endblock %}

{% block twitter %}
<meta name="og:image" content="https://philipkiely.com/assets/img/philip_thumbnail_general.png" />
<meta name="twitter:title" content='{{ article.title }}'>
<meta name="twitter:description" content='{{ article.summary }}'>
{% endblock %}

{% block head %}
<script src="/assets/js/article.js"></script>
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-12 col-md-8 offset-md-2">
			<br />
			<br />
			<h1>{{ article.title|safe }}</h1>
			<code
				class="post-info">| First Posted <b>{{ article.date.strftime('%d %B %Y') }}</b> | Last Edited <b>{{ article.modified.strftime('%d %B %Y') }}</b> |{% for author in article.authors %} {{ author }} |{% endfor %}</code>
			<hr />
			<div class="article-content">
				{{ article.content|safe }}
			</div>
			<hr />
			<h3 class="text-center">&#9997;</h3>
			<div class="text-center"><a href="https://twitter.com/philip_kiely?ref_src=twsrc%5Etfw"
					class="twitter-follow-button" data-size="large" data-dnt="true" data-show-count="true">Follow
					@philip_kiely</a>
				<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
			<!--<form action="https://gumroad.com/follow_from_embed_form" class="form gumroad-follow-form-embed input-group"
				method="post"> <input name="seller_id" type="hidden" value="8780358448474"> <input class="form-control" name="email"
					placeholder="you@example.com" type="email"> <button class="btn btn-primary" data-custom-highlight-color=""
					type="submit">Subscribe</button>
			</form>-->
			<hr />
			<br />
		</div>
		<div class="col-md-2">
			<br>
			<br />
			<div class="img-fluid">
				<a class="book-container" href="/wfsd?source=sidebar">
					<div class="book">
						<img id="cover-image" alt="Writing for Software Developers" src="/assets/img/wfsd.jpg" />
					</div>
				</a>
			</div>
			<br>
			<br />
		</div>
	</div>
</div>
{% endblock %}
