<footer class="py-5 bg-dark main-footer">
    <div class="container">
        <p class="text-center white-text">philipkiely.com V3.4.1 | Proudly Handcrafted Since 2017 | <a
                href="/old/V2/index.html">V2</a> | <a href="/old/V1/index.html">V1</a> | <a
                href="/old/V0/index.html">V0</a> | <a href="/sitemap/">sitemap</a></p>
        <p class="text-center white-text">Source on <a href="https://github.com/philipkiely/philipkiely.com">GitHub</a>
            (MIT License). Hosted with <a href="https://netlify.com">Netlify</a>.</p>
        <p class="text-center white-text">View live analytics on <a
                href="https://app.usefathom.com/share/ptzslpoy/philipkiely.com">Fathom</a>.</p>
        <h5 class="text-center">
            <a target="_blank" href="https://linkedin.com/in/philipkiely" class=""><i class="fab fa-linkedin-in white-text"></i></a>
            &NonBreakingSpace;
            <a target="_blank" href="https://github.com/philipkiely" class=""><i
                    class="fab fa-github white-text"></i></a>
            &NonBreakingSpace;
            <a target="_blank" href="https://twitter.com/philip_kiely" class=""><i
                    class="fab fa-twitter blue-text"></i></a>
            &NonBreakingSpace;
            <a target="_blank" href="https://youtube.com/@philipkiely" class=""><i class="fab fa-youtube red-text"></i></a>
            &NonBreakingSpace;
            <a target="_blank" href="https://news.ycombinator.com/user?id=philipkiely" class=""><i
                    class="fab fa-hacker-news orange-text"></i></a>
            &NonBreakingSpace;
            <a target="_blank" href="https://www.goodreads.com/author/show/20497839.Philip_Kiely" class=""><i
                    class="fab fa-goodreads white-text"></i></a>
            &NonBreakingSpace;
            <a target="_blank" href="mailto:philip@kiely.xyz" class="">Email</a>
        </h5>
        <hr>
        <p class="text-center white-text">Copyright &copy; 2017&ndash;2021 Philip Kiely & Company</p>
    </div><!-- /.container -->
</footer>