.rounded-img {
    border-radius: 50%;
}

.blue-text {
    color: lightblue;
}

.orange-text {
    color: orange;
}

.red-text {
    color: red;
}

.white-text {
    color: white;
}

.yellow-text {
    color: yellow;
}

.pink-text {
    color: lightpink;
}

.primary-accent-text {
    color: #630000;
}

.post-info {
    color: #630000 !important;
}

@media only screen and (min-width: 768px) {
    #headline_image {
        width: 50%;
        height: 50%;
    }
}

.article-content p, .article-content li {
    font-size: 20px;
    line-height: 1.7;
}

.article-summary {
    font-size: 20px;
    line-height: 1.7;
}

/*From https://3d-book-css.netlify.app*/
.book-container {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 600px;
}

@keyframes initAnimation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-27deg);
  }
}

.book {
  width: 200px;
  height: 300px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(-27deg);
  transition: 1s ease;
  animation: 1s ease 0s 1 initAnimation;
}

.book:hover {
  transform: rotateY(0deg);
}

.book > :first-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  width: 200px;
  height: 300px;
  transform: translateZ(27.5px);
  background-color: #c9dffa;
  border-radius: 0 2px 2px 0;
  box-shadow: 5px 5px 20px #666;
}

.book::before {
  position: absolute;
  content: ' ';
  background-color: blue;
  left: 0;
  top: 3px;
  width: 53px;
  height: 294px;
  transform: translateX(169.5px) rotateY(90deg);
  background: linear-gradient(90deg, 
    #fff 0%,
    #f9f9f9 5%,
    #fff 10%,
    #f9f9f9 15%,
    #fff 20%,
    #f9f9f9 25%,
    #fff 30%,
    #f9f9f9 35%,
    #fff 40%,
    #f9f9f9 45%,
    #fff 50%,
    #f9f9f9 55%,
    #fff 60%,
    #f9f9f9 65%,
    #fff 70%,
    #f9f9f9 75%,
    #fff 80%,
    #f9f9f9 85%,
    #fff 90%,
    #f9f9f9 95%,
    #fff 100%
    );
}

.book::after {
  position: absolute;
  top: 0;
  left: 0;
  content: ' ';
  width: 200px;
  height: 300px;
  transform: translateZ(-27.5px);
  background-color: #c9dffa;
  border-radius: 0 2px 2px 0;
  box-shadow: -10px 0 50px 10px #666;
}

