// Color Palette

$blue-1: #97c4fd;
$blue-2: #5585e9;
$blue-3: #0d21a1;
$blue-4: #000063;

$red-1: #f1a4a0;
$red-2: #db6862;
$red-3: #c32f27;
$red-4: #630000;

$grey-1: #f8f9fa;
$grey-2: #e0e0e1;
$grey-3: #9199a1;
$grey-4: #343a40;
$grey-5: #0f1215;

$green-1: #b0f49d;
$green-2: #6de162;
$green-3: #139f38;
$green-4: #02651d;

$gold-1: #fff0a7;
$gold-2: #ffe14d;
$gold-3: #f7cf0c;
$gold-4: #e1a700;

$brass-1: #ffc290;
$brass-2: #fa8f43;
$brass-3: #e26b16;
$brass-4: #a34300;