{% extends "base.html" %}

{% block title %}Philip Kiely: Sitemap{% endblock %}

{% block content %}
<div class="container">
    <br>
    <h1 class="primary-accent-text">404: Page Not Found</h1>
    <p>
        Maybe you were looking for one of these:
    </p>
    <ul>
        <li><a href="/">index</a>: the main page.</li>
        <li><a href="/assets/">assets</a>: static assets and files.</li>
        <li><a href="/autogarrison/">autogarrison</a>: does natural language analysis. (legacy)</li>
        <li><a href="/blank/">blank</a>: this page intentionally left blank. (legacy)</li>
        <li><a href="/calendar/">calendar</a>: see my schedule and request time.</li>
        <li><a href="/cefip/">cefip</a>: Cold Email for Interesting People.</li>
        <li><a href="/code/">code</a>: Tutorials on technical topics.</li>
        <li><a href="/company/">company</a>: my company's page.</li>
        <li><a href="/essays/">essays</a>: writings.</li>
        <li><a href="/homepage/">homepage</a>: my homepage. (personal)</li>
        <li><a href="/newsletter/">newsletter</a>: dear developers.</li>
        <li><a href="/notes/">notes</a>: put some markdown on the internet.</li>
        <li>old: legacy versions of this site</li>
        <ul>
            <li><a href="/old/V2">V2</a>: early 2018 - mid 2019.</li>
            <li><a href="/old/V1">V1</a>: mid 2017 - early 2018.</li>
            <li><a href="/old/V0">V0</a>: early 2017 - mid 2017.</li>
        </ul>
        <li><a href="/products/">products</a>: a list of products.</li>
        <li><a href="/rhymes/">rhymes</a>: generates sonnets. (legacy)</li>
        <li><a href="/sitemap/">sitemap</a>: you are here.</li>
        <li><a href="/spectrumcompose/">spectrumcompose</a>: a bad text editor. (legacy)</li>
        <li><a href="/wfsd/">wfsd</a>: Writing for Software Developers.</li>
    </ul>
    <br>
</div>
{% endblock %}