{% extends "base.html" %}

{% block title %}Philip Kiely: Articles{% endblock %}

{% block head %}
<style>
    .no-style-link {
        text-decoration: none !important;
        color: black !important;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <br>
    <br>
    <div class="col-md-8 offset-md-2">
        <h1>Published Articles</h1>
        <br>
        <p>If you'd like to discuss content for your business, please contact me at <a href="mailto:philip@kiely.xyz">philip@kiely.xyz</a>.</p>
    </div>
    <br>
    <br>
<table class="table table-condensed table-bordered">
    <thead>
        <tr>
            <th>Date</th>
            <th>Publication</th>
            <th>Title</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>May 2022</td>
            <td>ContentLab</td>
            <td><a href="https://contentlab.io/how-to-market-yourself-as-a-technical-writer/">How to market yourself as
                    a technical writer</a></td>
        </tr>
        <tr>
            <td>March 2022</td>
            <td>Zeet</td>
            <td><a href="https://blog.zeet.co/paper/">How Paper Delivers a Seamless NFT Checkout Solution on Zeet</a>
            </td>
        </tr>
        <tr>
            <td>March 2022</td>
            <td>Zeet</td>
            <td><a href="https://blog.zeet.co/mythia/">Mythia Launches Lifetime Access NFT on Zeet Infrastructure</a>
            </td>
        </tr>
        <tr>
            <td>February 2022</td>
            <td>Zeet</td>
            <td><a href="https://blog.zeet.co/covalent/">Why Covalent's Second-Time Founder Chose Zeet to Build
                    Infrastructure for Connections</a></td>
        </tr>
        <tr>
            <td>January 2022</td>
            <td>Zeet</td>
            <td><a href="https://blog.zeet.co/fairgrounds/">How Fairgrounds is Building a Metaverse on Zeet</a></td>
        </tr>
        <tr>
            <td>December 2021</td>
            <td>Zeet</td>
            <td><a href="https://blog.zeet.co/banana/">How Banana Performs Machine Learning Model Optimization with AWS
                    &amp; GCP</a></td>
        </tr>
        <tr>
            <td>May 2021</td>
            <td>YotaScale</td>
            <td><a href="https://yotascale.com/cloud-cost-visibility-guide/">A Guide to Cloud Cost Visibility</a></td>
        </tr>
        <tr>
            <td>March 2021</td>
            <td>YotaScale</td>
            <td><a href="https://yotascale.com/tips-for-cost-optimization/">Top Tips for AWS Cloud Cost Optimization</a>
            </td>
        </tr>
        <tr>
            <td>August 2020</td>
            <td>Markforged</td>
            <td><a href="https://engineering.markforged.com/#/blog/post/git_at_markforged">Always Rebase: Git at
                    Markforged</a></td>
        </tr>
        <tr>
            <td>July 2020</td>
            <td>Markforged</td>
            <td><a href="https://engineering.markforged.com/#/blog/post/preparing_gomp">Preparing GOMP (Git cOMPare) for
                    Public Release</a></td>
        </tr>
        <tr>
            <td>June 2020</td>
            <td>Smashing Magazine</td>
            <td><a
                    href="https://www.smashingmagazine.com/2020/06/django-highlights-wrangling-static-assets-media-files-part-4/">Django
                    Highlights: Wrangling Static Assets And Media Files (Part 4)</a></td>
        </tr>
        <tr>
            <td>May 2020</td>
            <td>CSS Tricks</td>
            <td><a href="https://css-tricks.com/turning-a-fixed-size-object-into-a-responsive-element/">Turning a
                    Fixed-Size Object into a Responsive Element</a></td>
        </tr>
        <tr>
            <td>April 2020</td>
            <td>Smashing Magazine</td>
            <td><a href="https://www.smashingmagazine.com/2020/04/django-highlights-models-admin-relational-database/">Django
                    Highlights: Models, Admin, And Harnessing The Relational Database (Part 3)</a></td>
        </tr>
        <tr>
            <td>April 2020</td>
            <td>WonderProxy</td>
            <td><a href="https://wonderproxy.com/blog/internationalization-with-django/">Internationalization Case
                    Study: The Django Framework</a></td>
        </tr>
        <tr>
            <td>April 2020</td>
            <td>Smashing Magazine</td>
            <td><a href="https://www.smashingmagazine.com/2020/04/django-highlights-templating-saves-lines/">Django
                    Highlights: Templating Saves Lines (Part 2)</a></td>
        </tr>
        <tr>
            <td>March 2020</td>
            <td>Website Setup</td>
            <td><a href="https://websitesetup.org/html-vs-html5/">HTML vs HTML5</a></td>
        </tr>
        <tr>
            <td>February 2020</td>
            <td>WonderProxy</td>
            <td><a href="https://wonderproxy.com/blog/accessible-internationalization/">Accessible
                    Internationalization</a></td>
        </tr>
        <tr>
            <td>February 2020</td>
            <td>Smashing Magazine</td>
            <td><a href="https://www.smashingmagazine.com/2020/02/django-highlights-user-models-authentication/">Django
                    Highlights: User Models and Authentication (Part 1)</a></td>
        </tr>
        <tr>
            <td>January 2020</td>
            <td>Twilio</td>
            <td><a href="https://www.twilio.com/blog/build-email-newsletter-django-twilio-sendgrid">Build an Email
                    Newsletter with Django and Twilio SendGrid</a></td>
        </tr>
        <tr>
            <td>December 2019</td>
            <td>Human Readable Magazine</td>
            <td><a href="https://humanreadablemag.com/issues/1/articles/dynamic-time-warping-in-theory-and-practice">Dynamic
                    Time Warping in Theory and Practice</a> (Paywall)</td>
        </tr>
        <tr>
            <td>November 2019</td>
            <td>WonderProxy</td>
            <td><a href="https://wonderproxy.com/blog/remote-usability-testing/">Usability Testing for Remote Teams</a>
            </td>
        </tr>
        <tr>
            <td>November 2019</td>
            <td>Smashing Magazine</td>
            <td><a href="https://www.smashingmagazine.com/2019/11/adapting-agile-part-time-teams/">Adapting Agile For
                    Part-Time Teams</a></td>
        </tr>
        <tr>
            <td>October 2019</td>
            <td>FloydHub</td>
            <td><a href="https://blog.floydhub.com/a-pirates-guide-to-accuracy-precision-recall-and-other-scores/">A
                    Pirate's Guide to Accuracy, Precision, Recall, and Other Scores</a></td>
        </tr>
        <tr>
            <td>October 2019</td>
            <td>Smashing Magazine</td>
            <td><a href="https://www.smashingmagazine.com/2019/10/text-to-speech-aws-part-2/">Speech To Text With AWS
                    (Part 2)</a></td>
        </tr>
        <tr>
            <td>September 2019</td>
            <td>WonderProxy</td>
            <td><a href="https://wonderproxy.com/blog/amazon-vs-google-translate/">Amazon versus Google Translate</a>
            </td>
        </tr>
        <tr>
            <td>September 2019</td>
            <td>WonderProxy</td>
            <td><a href="https://wonderproxy.com/blog/localization-for-developers/">Localization for Developers</a></td>
        </tr>
        <tr>
            <td>August 2019</td>
            <td>mkdev</td>
            <td><a href="https://mkdev.me/en/posts/fundamentals-of-front-end-django">Fundamentals of Front-End
                    Django</a></td>
        </tr>
        <tr>
            <td>August 2019</td>
            <td>Smashing Magazine</td>
            <td><a href="https://www.smashingmagazine.com/2019/08/text-to-speech-aws/">Text To Speech With AWS (Part
                    1)</a></td>
        </tr>
        <tr>
            <td>July 2019</td>
            <td>FloydHub</td>
            <td><a href="https://blog.floydhub.com/web-scraping-with-python/">DIY Data: Web Scraping with Python and
                    BeautifulSoup</a></td>
        </tr>
        <tr>
            <td>June 2019</td>
            <td>mkdev</td>
            <td><a href="https://mkdev.me/en/posts/how-to-cover-django-application-with-unit-tests">How to cover a
                    Django application with Unit Tests</a></td>
        </tr>
        <tr>
            <td>June 2019</td>
            <td>FloydHub</td>
            <td><a href="https://blog.floydhub.com/introduction-to-genetic-algorithms/">Introduction to Genetic
                    Algorithms</a></td>
        </tr>
        <tr>
            <td>May 2019</td>
            <td>mkdev</td>
            <td><a href="https://mkdev.me/en/posts/how-to-send-sms-messages-with-aws-lambda-sns-and-python-3">How to
                    Send SMS with AWS</a></td>
        </tr>
        <tr>
            <td>April 2019</td>
            <td>mkdev</td>
            <td><a href="https://mkdev.me/en/posts/how-to-create-an-api-with-django">How to Create an API with
                    Django</a></td>
        </tr>
    </tbody>
</table>
</div>
{% endblock %}