{% extends "base.html" %}

{% block title %}Cold Email for Interesting People{% endblock %}

{% block twitter %}
<meta data-rh="true" name="twitter:title" content="Cold Email for Interesting People">
<meta data-rh="true" name="twitter:description" content="Learn how to contact busy people and ask for what you want, by example.">
<meta name="twitter:image" content="https://philipkiely.com/assets/img/cefip_twitter_thumbnail.png" />
<meta name="og:image" content="https://philipkiely.com/assets/img/cefip/cefip_horizontal_graphic.png"/>
{% endblock %}

{% block head %}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400&family=Merriweather&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/cefip.css" type="text/css">
<link rel="stylesheet" href="/assets/css/topography.css" type="text/css">
<script src="/assets/js/cefip.js"></script>
{% endblock %}

{% block content %}
<br>
<br>
<div class="row align-items-center">
    <!--Intro-->
    <div class="col-md-6">
        <h1>Incite Opportunity</h1>
        <p>Whether you are seeking a new job, wanting to meet one of your heroes, wishing to appear on someone's show, or pursuing a unique opportunity that no one else knows about, the best way to get what you want is simple: ask.</p>
        <p>I built an international career from the middle of Iowa, thousands miles away from the action. If you're like me and don't have tons of connections, you'll need to contact people who you've never met to get things started. This course equips you with specific tactics for writing successful cold emails and encourages you to take your shot.</p>
        <h5>Why this course?</h5>
        <p>Many cold email tutorials are focused on bulk mail, sales, business-to-business pitches, and other impersonal outreach. Others rely on spammy tactics that savvy recipients are sick of.</p>
        <p>Instead, use this course to guide your learning and practice as you develop your own personal approach to using cold email to expand your network, enhance your projects, and further your career by sending authentic emails to real people.</p>
    </div>
    <div class="col-md-6">
        <div class="p-0">
            <img class="img-fluid" src="/assets/img/pages/cefip/two_books.png"
                alt="Cold Email for Interesting People">
        </div>
    </div>
    <div class="col-md-6">
        <div class="p-0 my-3">
            <img class="img-fluid" src="/assets/img/pages/cefip/video_series.png" alt="Cold Email for Interesting People">
        </div>
    </div>
    <div class="col-md-6">
        <div class="p-0 my-3">
            <img class="img-fluid" src="/assets/img/pages/cefip/email_course.png" alt="Cold Email for Interesting People">
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
</div>
<div class="container-fluid cta-section">
<div class="container">
<div class="row align-items-center">
    <div class="col-12 col-md-6 text-center">
        <div class="card my-5 text-white">
            <div class="card-body">
                <h1>WRITE AN EMAIL &#8594;</h1>
                <h1>CHANGE YOUR LIFE</h1>
                <br>
                <h5><i>Cold Email for Interesting People</i> includes:</h5>
                <ul class="list-unstyled">
                    <li>A <b>25</b>-page Cold Email Handbook</li>
                    <li>All <b>9</b> Annotated Examples</li>
                    <li>All <b>12</b> Focused Videos</li>
                    <li>A <b>30</b>-Day Workbook</li>
                </ul>
                <br>
                <a href="https://gumroad.com/l/cefip_free?price=0">Download free starter version</a>
                <br>
            </div>
            <a class="card-footer btn my-btn-primary" href="https://gumroad.com/l/cefip">Buy Now &mdash; <span class="price-text">$48</span></a>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <blockquote class="twitter-tweet" data-theme="dark">
            <p lang="en" dir="ltr">Cold emails work, when they&#39;re sent by interesting people.</p>&mdash; Sahil (@shl) <a
                href="https://twitter.com/shl/status/1306575128277299201?ref_src=twsrc%5Etfw">September 17, 2020</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>
</div>
</div>
<div class="container">
<br>
<br>
<br>
<br>
<div class="col-12">
    <h1 class="primary-accent-text">WHAT'S IN THE COURSE?</h1>
    <br>
    <br>
    <br>
</div>
<div class="main-timeline">
<div class="timeline">
    <div class="icon"></div>
    <div class="drawing-content">
        <div class="drawing-outer">
            <span class="drawing">
                <img class="img-fluid" id="timeline-img-a" src="/assets/img/pages/cefip/typewriter.png" alt="Typewriter">
            </span>
        </div>
    </div>
    <div class="timeline-content">
        <h5 class="title">Handbook</h5>
        <p class="description">
            The handbook walks step-by-step through the process of deciding to write a cold email, figuring out who to email, finding their contact information, writing a compelling first message, and closing the conversation.
        </p>
    </div>
</div>
<div class="timeline">
    <div class="icon"></div>
    <div class="drawing-content">
        <div class="drawing-outer">
            <span class="drawing">
                <img class="img-fluid" id="timeline-img-b" src="/assets/img/pages/cefip/examples.png" alt="Examples">
            </span>
        </div>
    </div>
    <div class="timeline-content">
        <h5 class="title">Annotated Examples</h5>
        <p class="description">
            Go behind the scenes of my cold email success. Each of the nine examples includes one or two emails, context, and the payoff. I go through each email line-by-line to discuss why specific phrases and tactics were effective.
        </p>
    </div>
</div>
<div class="timeline">
    <div class="icon"></div>
    <div class="drawing-content">
        <div class="drawing-outer">
            <span class="drawing">
                <img class="img-fluid" id="timeline-img-c" src="/assets/img/pages/cefip/email_ladder.png" alt="Email Ladder">
            </span>
        </div>
    </div>
    <div class="timeline-content">
        <h5 class="title">12-Part Video Course</h5>
        <p class="description">
            Forget hour-long slideshows with a talking head in the corner. A dozen tightly-paced videos cover a single topic each in four minutes or less. Watch them all in order over lunch or reference them as needed while working.
        </p>
    </div>
</div>
<div class="timeline">
    <div class="icon"></div>
    <div class="drawing-content">
        <div class="drawing-outer">
            <span class="drawing">
                <img class="img-fluid" id="timeline-img-d" src="/assets/img/pages/cefip/email_spotlight.png" alt="Email Spotlight">
            </span>
        </div>
    </div>
    <div class="timeline-content">
        <h5 class="title">30-Day Email Workbook</h5>
        <p class="description">
            Develop your cold email skills with thirty days of guided exercises. Build your systems, complete writing prompts, and, of course, send plenty of cold emails. Complete the workbook at your own pace or over a structured month.
        </p>
    </div>
</div>
</div><!--end main timeline-->
<br>
<br>
<br>
<br>
<div class="row">
    <div class="col-12">
        <h1 class="primary-accent-text">REVIEWS</h1>
        <br>
        <div class="card-columns">
            <div class="card tweet-card">
                <blockquote class="twitter-tweet">
                    <p lang="en" dir="ltr">Just finished the cold email handbook by <a
                            href="https://twitter.com/philip_kiely?ref_src=twsrc%5Etfw">@philip_kiely</a> great read,
                        super actionable
                        with real examples.</p>&mdash; Russell (@russellbarnard) <a
                        href="https://twitter.com/russellbarnard/status/1330902678776524800?ref_src=twsrc%5Etfw">November
                        23, 2020</a>
                </blockquote>
            </div>
            <div class="card tweet-card">
                <blockquote class="twitter-tweet">
                    <p lang="en" dir="ltr">Cold emailing is probably the most underrated and misunderstood skill and the
                        Cold Email for
                        Interesting People course by <a
                            href="https://twitter.com/philip_kiely?ref_src=twsrc%5Etfw">@philip_kiely</a>
                        has been single best investment of time to get better at it. Highly recommend.<a
                            href="https://t.co/sKud9XrtqS">https://t.co/sKud9XrtqS</a></p>&mdash; Harsha G. (@_gharsha)
                    <a href="https://twitter.com/_gharsha/status/1385191623949094912?ref_src=twsrc%5Etfw">April 22,
                        2021</a>
                </blockquote>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
</div>
<div class="container-fluid cta-section">
    <br>
    <br>
    <div class="container">
        <div class="col-12 col-md-10 offset-md-1">
            <h1 class="secondary-accent-text">CHART A COURSE</h1>
        </div>
        <div class="row align-items-center no-gutters">
        <div class="col-12 offset-md-1 col-md-4 text-left order-2 order-md-1">
            <div class="card my-5 text-white" id=free-trial>
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal text-center">FREE SAMPLE</h4>
                </div>
                <div class="card-body">
                    <br>
                    <h5>Everything you need to get started:</h5>
                    <br>
                    <ul class="list-unstyled text-left">
                        <li><b>Full</b> Cold Email Handbook</li>
                        <li><b>Sample</b> of Videos, Examples, & Workbook</li>
                    </ul>
                    <br>
                </div>
                <a class="card-footer btn my-btn-secondary" href="https://gumroad.com/l/cefip_free?price=0">Free Download</a>
            </div>
        </div>
        <div class="col-12 col-md-6 text-left order-1 order-md-2">
            <div class="card my-5 text-white" id=full-course>
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal text-center">FULL COURSE</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title"><span class="price-text">$48</span></h1>
                    <div class="row align-items-center">
                        <div class="col-12 col-md-6">
                            <br>
                            <h5>Your purchase includes:</h5>
                            <br>
                            <p>A <b>handbook</b> that covers the entire process of writing a cold email</p>
                            <br>
                            <p>Nine <b>annotated examples</b> of real cold emails with context and outcomes</p>
                            <br>
                            <p>Twelve <b>videos</b> addressing a dozen key topics for cold email</p>
                            <br>
                            <p>Thirty <b>daily emails</b> to incorporate cold email into your everyday routine</p>
                            <br>
                        </div>
                        <div class="col-12 col-md-6">
                            <img class="img-fluid" src="/assets/img/pages/cefip/cefip_vertical_blank.png">
                        </div>
                    </div>
                </div>
                <a class="card-footer btn my-btn-primary" href="https://gumroad.com/l/cefip">Buy Now</a>
            </div>
        </div>
        </div>
    </div>
    <br>
    <br>
</div>
<div class="container">
<br>
<br>
<br>
<br>
<!--ATA SECTION-->
<div class="row">
    <div class="col-12">
        <h1 class="primary-accent-text">ABOUT THE AUTHOR</h1>
        <br>
    </div>
    <div class="col-md-4 col-12">
        <img class="img-fluid" src="/assets/img/pages/cefip/seated_portrait_alt.jpg" alt="Philip Kiely">
    </div>
    <div class="col-md-8 col-12">
        <br>
        <p>Hi, I'm Philip Kiely. I owe much of my success in business to effective cold email. From my first freelance
            client to my biggest projects to my best jobs, there is a cold email behind most of the lines on my résumé.
        </p>
        <p>I run <a href="https://pkandc.com">PK&C</a>, which means that I am many
            things to many people. Most often, I'm writing books like this one and <a href="/wfsd">Writing for Software
                Developers</a>,
            working on the next big thing, fixing bugs of my own creation, finding and delighting clients, or running
            payroll
            through Venmo like a Real Business Person.</p>
        <p>You can find me around the internet, especially on <a href="https://twitter.com/philip_kiely">Twitter</a>, <a
                href="https://news.ycombinator.com/user?id=philipkiely">Hacker News</a>, or <a
                href="https://www.indiehackers.com/philipkiely">Indie Hackers</a>. I write <a href="/essays">essays</a>,
            <a href="/code">tutorials</a>, and <a href="/notes">more</a> on my own site and for <a
                href="/notes/posts.html">various other publications</a>. You may have heard me on <a
                href="https://www.se-radio.net/2020/09/episode-426-philip-kiely-on-writing-for-software-developers/">IEEE’s
                Software Engineering Radio</a> or <a href="/notes/appearances.html">another show</a>. My professional
            hobbies
            include appearing on podcasts and panels, sending cold emails, pretending that I can read a 10-K, and
            tweeting
            about business. I also enjoy playing D&D, practicing martial arts, and reading whatever is nearby.</p>
    </div>
</div>
<br>
<br>
<br>
<br>
<!--FAQ SECTION-->
</div>
<div class="container-fluid" id="faq">
    <br>
    <br>
    <div class="container">
<div class="row align-items-center">
    <div class="col-12">
        <h1 class="primary-accent-text">FREQUENTLY ASKED QUESTIONS</h1>
        <br>
    </div>
        <div class="col-12 col-md-3">
        <h5>What is a cold email?</h5>
        </div>
        <div class="col-12 col-md-9">
        <p>A cold email is sending an email to someone who you do not know, or do not know well. The "cold" in cold
            email doesn't
            refer to the tone (which should generally be warm, friendly, and professional), but rather to the lack of
            previous
            relationship.</p>
        </div>
        <div class="col-12">
            <hr>
            <br>
        </div>
        <div class="col-12 col-md-3">
        <h5>Am I an interesting person?</h5>
        </div>
        <div class="col-12 col-md-9">
        <p>I think so! Whether or not someone is interesting is quite situational. For example, Tom Brady wouldn't be
            interested in
            hearing from me with ideas for plays to run, but a developer advocate might be interested in hearing from me
            with ideas
            for technical content. Being interesting isn't so much an attribute but an action, so anyone can be
            interesting to the right person in the right situation!</p>
        </div>
        <div class="col-12">
            <hr>
            <br>
        </div>
        <div class="col-12 col-md-3">
            <h5>Can I take the course at my own pace?</h5>
        </div>
        <div class="col-12 col-md-9">
            <p><i>Cold Email for Interesting People</i> is built around a 30-day email sequence designed to include cold email in your daily activities. The emails are all included as a PDF as well so that you can read ahead or take your time.</p>
            <p>If you would prefer to keep your inbox calmer, you can explore the exact same material in the <a href="https://gumroad.com/l/cefip_sp">course without daily emails</a>.</p>
        </div>
        <div class="col-12">
            <hr>
            <br>
        </div>
        <div class="col-12 col-md-3">
        <h5>What doesn't the course cover?</h5>
        </div>
        <div class="col-12 col-md-9">
        <p>This isn't a course about copywriting for mass emails or other bulk outreach. It isn't about generating leads
            or making
            tons of LinkedIn connections with some boilerplate message. It <i>is</i> about thinking critically to answer the question: how do I connect with individuals about mutually interesting things.</p>
        </div>
        <div class="col-12">
            <hr>
            <br>
        </div>
        <div class="col-12 col-md-3">
            <h5>What file formats does the course use?</h5>
        </div>
        <div class="col-12 col-md-9">
            <p>The handbook, annotated examples, and workbook are optimized for PDF, but they are also included in the EPUB format. You may prefer to read the annotated examples as a PDF; the EPUB format moves all footnotes to endnotes (your EPUB reader may support linked endnotes).</p>
            <p>The videos are MP4s in 1080p HD quality.</p>
            <p>The workbook is sent as a series of emails over 30 days and is also included as a PDF and EPUB for convenient reference.</p>
            <p>With your purchase, you can download the books and videos or you can view them online or on you phone through your Gumroad library.</p>
        </div>
        <div class="col-12">
            <hr>
            <br>
        </div>
        <div class="col-12 col-md-3">
            <h5>Is there DRM?</h5>
        </div>
        <div class="col-12 col-md-9">
            <p>Absolutely not! The files are completely DRM-free. All I ask is that you don't distribute your copy of the course or its components. Your purchase grants an individual license to enjoy the content.</p>
        </div>
        <div class="col-12">
            <hr>
            <br>
        </div>
        <div class="col-12 col-md-3">
            <h5>How do I get an invoice?</h5>
        </div>
        <div class="col-12 col-md-9">
            <p>After you make your purchase through Gumroad, <a href="https://customers.gumroad.com/article/194-i-need-an-invoice">follow this guide</a> to generate your receipt.</p>
        </div>
        <div class="col-12">
            <hr>
            <br>
        </div>
        <div class="col-12 col-md-3">
        <h5>Is there a refund policy?</h5>
        </div>
        <div class="col-12 col-md-9">
        <p>I have a 30-day no-questions-asked refund policy. If you don't like your purchase, let me know and I will refund your money. If you're not sure if the course is for you, download the free version and sample the course!</p>
        </div>
        <div class="col-12">
            <hr>
            <br>
        </div>
        <div class="col-12 col-md-3">
            <h5>What if I can't afford the course?</h5>
        </div>
        <div class="col-12 col-md-9">
            <p>There is a large free sample (including the entire handbook) and I very occasionally run sales, so keep an eye on my <a href="https://twitter.com/philipkiely">Twitter</a>. If you need the full version right now and can't afford the price, send me an email and we can work something out.</p>
        </div>
        <div class="col-12">
            <hr>
            <br>
        </div>
        <div class="col-12 col-md-3">
        <h5>I have another question.</h5>
        </div>
        <div class="col-12 col-md-9">
        <p>Send me an email at <a href="mailto:philip@kiely.xyz">philip@kiely.xyz</a>.</p>
        </div>
    </div>
    <br>
    <br>
</div>
</div>
</div>
<div class="container">
<!--END FAQ SECTION-->
{% endblock %}