{% extends "base.html" %}

{% block title %}Cold Email for Interesting People{% endblock %}

{% block twitter %}
<meta data-rh="true" name="twitter:title" content="Cold Email for Interesting People">
<meta data-rh="true" name="twitter:description" content="Learn how to contact busy people and ask for what you want, by example.">
{% endblock %}

{% block content %}
<br>
<br>
<div class="row align-items-center">
    <!--Intro-->
    <div class="col-md-6">
        <div class="p-5">
            <img class="img-fluid" src="/assets/img/cefip_hero_vertical.jpg" alt="Cold Email for Interesting People">
        </div>
    </div>
    <div class="col-md-6">
        <h2 class="primary-accent-text">Cold Email for Interesting People</h2>
        <p>Whether you want a new job, to meet your heroes, a feature on someone's show, or a unique opportunity that the public doesn't know about, the best way to get it is simple: just ask for what you want. I built an international career from the middle of Iowa, thousands miles away from the action. If you're like me and don't have tons of connections, you'll need to cold-contact people who you've never met to get things started. This course equips you with specific tactics for writing successful cold emails and encourages you to take your shot.</p>
        <br>
        <h5>Video Introduction</h5>
        <p>In a short video, I discuss fundamental concepts relating to cold email including social proof, overcoming
            objections, and formulating a specific ask. <i>16 Minutes</i>.</p>
        <br>
        <h5>Handbook</h5>
        <p>The handbook walks step-by-step through the process of deciding to write a cold email, figuring out who to email, finding their contact information, writing a compelling first message, and closing the conversation. <i>31 Pages</i>.</p>
        <br>
        <h5>Six Annotated Examples</h5>
        <p>Go behind the scenes of my cold email success. I've annotated six examples from the past two years to share with you. Each example includes one or two emails, the context, and the
        payoff. For each email, I go through line-by-line and discuss the impact of the words and phrases. <i>48 Pages</i>.</p>
        <br>
    </div>
</div>
<br>
<br>
<hr>
<br>
<br>
<style>
.btn-success {
    background: rgb(30,200,30);
    background: linear-gradient(90deg, rgba(30,130,30,1) 0%, rgba(30,190,30,1) 50%, rgba(30,130,30,1) 100%);
}
</style>
<div class="row align-items-center">
    <div class="col-12 col-md-6 text-center">
        <div class="card bg-light mb-3">
            <div class="card-body">
                <h2 class="primary-accent-text">Get Cold Email for Interesting People Today!</h2>
                <br>
                <p>17 5-star ratings | Pay what you want | $0 Minimum</p>
                <br>
                <p>Sahil Lavingia: "Cold emails work, when they're sent by interesting people."</p>
                <a class="btn btn-lg btn-block btn-success" href="https://gum.co/cefip/">Click Here to Buy Now on Gumroad</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <blockquote class="twitter-tweet" data-theme="dark">
            <p lang="en" dir="ltr">Cold emails work, when they&#39;re sent by interesting people.</p>&mdash; Sahil (@shl) <a
                href="https://twitter.com/shl/status/1306575128277299201?ref_src=twsrc%5Etfw">September 17, 2020</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>
<br>
<br>
<hr>
<br>
<br>
<!--ATA SECTION-->
<div class="row">
    <div class="col-12">
        <h1 class="primary-accent-text">About the Author</h1>
    </div>
    <div class="col-md-6">
        <div class="p-5">
            <img class="img-fluid" src="/assets/img/SeatedPortraitCropped.jpg" alt="Philip Kiely">
        </div>
    </div>
    <div class="col-md-6">
        <div class="p-5">
            <p>Hi, I'm Philip Kiely. I run <a href="https://pkandc.com">Philip Kiely & Company</a>, which means that I am many
                things to many people. Most often, I’m <a href="/essays/gumroad_hom.html">running marketing</a> at <a
                    href="https://gumroad.com">Gumroad</a>, selling copies of <a href="/wfsd">Writing for Software Developers</a>,
                working on the next big thing, fixing bugs of my own creation, finding and delighting clients, or running payroll
                through Venmo like a Real Business Person.</p>
            <p>You can find me around the internet, especially <a href="https://twitter.com/philip_kiely">Twitter</a>, <a
                    href="https://news.ycombinator.com/user?id=philipkiely">Hacker News</a>, or <a
                    href="https://www.indiehackers.com/philipkiely">Indie Hackers</a>. I write <a href="/essays">essays</a>, <a
                    href="/essays">tutorials</a>, and <a href="/notes">notes</a> on my own site and <a
                    href="/notes/posts.html">various other publications</a>. You may have heard me on <a
                    href="https://www.se-radio.net/2020/09/episode-426-philip-kiely-on-writing-for-software-developers/">IEEE’s
                    Software Engineering Radio</a> or <a href="/notes/appearances.html">another show</a>. My professional hobbies
                include appearing on podcasts and panels, sending cold emails, pretending that I can read a 10-K, and tweeting
                about business. I also enjoy playing D&D, practicing martial arts, and reading whatever is nearby.</p>
        </div>
    </div>
</div>
<br>
<br>
<hr>
<br>
<br>
<!--FAQ SECTION-->
<div class="row align-items-center">
    <div class="col-12 col-md-6">
        <h1 class="primary-accent-text">Questions?</h1>
        <h5>What is a cold email?</h5>
        <p>A cold email is sending an email to someone who you do not know, or do not know well. The "cold" in cold email doesn't
        refer to the tone (which should generally be warm, friendly, and professional), but rather to the lack of previous
        relationship.</p>
        <br>
        <h5>Am I an interesting person?</h5>
        <p>I think so! Whether or not someone is interesting is quite situational. For example, Tom Brady wouldn't be interested in
        hearing from me with ideas for plays to run, but a developer advocate might be interested in hearing from me with ideas
        for technical content. Being interesting isn't so much an attribute but an action, so anyone can be interesting to the right person in the right situation!</p>
        <br>
        <h5>Who is this course not for?</h5>
        <p>This isn't a course about copywriting for mass emails or other bulk outreach. It isn't about generating leads or making
        tons of LinkedIn connections with some boilerplate message. It is about thinking deeply about how to connect with
        individuals about mutually interesting things.</p>
        <br>
    </div>
    <div class="col-12 col-md-6">
        <h5>How much should I pay?</h5>
        <p><i>Cold Email for Interesting People</i> is a pay-what-you-want product. You can pay any amount, even zero dollars, but I'd appreciate it if you paid for the product for both of our benefits. Paying for the product helps me run my business and makes you more invested in the content. You can also download for free, see if you like it, and then buy it again if you found it valuable.</p>
        <p>I did pay-what-you-want without a minimum to achieve <a href="https://en.wikipedia.org/wiki/Price_discrimination#First_degree">perfect price discrimination</a> and avoid <a href="https://en.wikipedia.org/wiki/Anchoring_(cognitive_bias)">price anchoring</a>. But, if you really want guidance, let's say that if twenty bucks isn't a big deal for you, you should pay about that much, but if twenty bucks is a big deal for you, you should pay five or grab it for free and not feel bad either way. If you know me personally, you get it for free.</p>
        <br>
        <h5>Is there a refund policy?</h5>
        <p>I have a 30-day no-questions-asked refund policy. If you don't like your purchase, let me know and I will refund your
            money. Because the product is pay-what-you-want, if you think you'd ask for a refund, I'd rather you just download for free because that saves us both time.</p>
        <br>
        <h5>What if I have another question?</h5>
        <p>Send me an email at <a href="mailto:philip@kiely.xyz">philip@kiely.xyz</a>.</p>
        <br>
    </div>
</div>
<!--END FAQ SECTION-->
<br>
<br>
<hr>
<br>
<br>
<div class="row align-items-center">
    <div class="col-12 col-md-6 text-center">
        <div class="card bg-light mb-3">
            <div class="card-body">
                <h2 class="primary-accent-text">Get Cold Email for Interesting People Today!</h2>
                <br>
                <p>17 5-star ratings | Pay what you want | $0 Minimum</p>
                <br>
                <p>Russell Barnard: "Just finished the cold email handbook by Philip Kiely. Great read, super actionable with real examples."</p>
                <a class="btn btn-lg btn-block btn-success" href="https://gum.co/cefip/">Click Here to Buy Now on
                    Gumroad</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <blockquote class="twitter-tweet" data-theme="dark">
            <p lang="en" dir="ltr">Just finished the cold email handbook by <a
                    href="https://twitter.com/philip_kiely?ref_src=twsrc%5Etfw">@philip_kiely</a> great read, super actionable
                with real examples.</p>&mdash; Russell (@russellbarnard) <a
                href="https://twitter.com/russellbarnard/status/1330902678776524800?ref_src=twsrc%5Etfw">November 23, 2020</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>
<br>
<br>
<hr>
<br>
<br>
{% endblock %}