{% extends "base.html" %}

{% block title %}Philip Kiely & Company{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 col-md-6">
        <br />
        <h1 class="primary-accent-text">Philip Kiely & Company</h1>
        <br />
        <h3>I work with businesses of all sizes to turn content and code into business solutions.</h3>
        <br>
        <p>Newish! Listen to my <a href="https://www.se-radio.net/2020/09/episode-426-philip-kiely-on-writing-for-software-developers/">interview on IEEE's Software Engineering Radio</a>.</p>
        <h3>Philip Kiely</h3>
        <p>I started my career as a software engineer, but I currently work as the <a href="/essays/gumroad_hom.html">Head of Marketing at Gumroad</a>. I have written for <a href="/notes/posts.html">these publications</a> and appeared on <a href="/notes/appearances.html">these shows</a>. I wrote <a href="/wfsd">a book</a> which sold <a href="/essays/wfsd_financials.html">pretty well</a>.</p>
        <h3>& Company</h3>
        <p>I'm lucky enough to work with some fantastic subcontractors.</p>
        <br />
        <hr>
        <br />
        <h3>Services</h3>
        <a href="mailto:philip@kiely.xyz?subject=Technical%20Content%20Contract%20Project"><button class="btn btn-primary btn-large">Contract Projects</button></a>
        <a href="/notes/consulting_calls.html"><button class="btn btn-primary btn-large">50-Minute Consulting Calls</button></a>
        <br />
        <h3>Products</h3>
        <a href="/wfsd/"><button class="btn btn-primary btn-large">Book: Writing for Software Developers</button></a>
        <br />
        <a href="/cefip/"><button class="btn btn-primary btn-large">Guide: Cold Email for Interesting People</button></a>
        <br />
        <br />
        <hr>
        <br />
        <p>
        "Philip is a real pro. His content is well-written, relevant to our market of test engineers and localization experts, and deep enough to be reference material. He's communicative, and he easily fit himself into our content process. Highly recommended."
        </p>
        <p>
            <i>&mdash; <a href="https://www.linkedin.com/in/preinheimer/">Paul Reinheimer</a>, CEO at <a href="https://wonderproxy.com">WonderProxy</a>.</i>
        </p>
        <br />
        <p>Further enthusiastic references provided upon request.</p>
        <p>Please direct all inquiries to <a href="mailto:philip@kiely.xyz">philip@kiely.xyz</a>.
        <br />
    </div>
    <div class="col-12 col-md-6">
        <br />
        <img class="img-fluid" src="/assets/img/BlurredCapitol.jpg" alt="Philip standing by Iowa State Capitol">
        <br />
    </div>
    <br />
</div>
{% endblock %}