{% extends "base.html" %}

{% block title %}Philip Kiely: Sitemap{% endblock %}

{% block content %}
<div class="container">
    <div class="col-8">
        <br>
        <h1 class="primary-accent-text">Disclosures</h1>
        <p>I take care to avoid conflicts of interest in my work. Generally, my activities are unconstrained. However, I feel it
            is useful to maintain a list of disclosures for readers, customers, clients, and other interested parties.</p>
        <hr>
        <h3>NDAs and Non-Competes</h3>
        <p>
            I prefer to build in public and work unrestricted. However from time to time it is necessary to sign agreements to get something done.
        </p>
        <p><b>Active Agreements:</b></p>
        <ul>
            <li>Will not disclose trade secrets about Gumroad &mdash; Indefinite</li>
            <li>Will not disclose trade secrets about Markforged &mdash; Indefinite</li>
        </ul>
        <p><b>Former Agreements:</b></p>
        <ul>
            <li>1-year non-compete with Markforged &mdash; Ended September 2021</li>
            <li>1-year non-compete with Markforged &mdash; Obsolete June 2020</li>
        </ul>
        <br>
        <hr>
        <h3>Investments</h3>
        <p>I have relatively small holdings in a few private companies:</p>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Company</th>
                    <th scope="col">Type</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Date Acquired</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Gumroad</th>
                    <td>Reg CF Round</td>
                    <td>$1,000</td>
                    <td>March 15, 2021</td>
                </tr>
                <tr>
                    <th scope="row">Backstage Capital</th>
                    <td>Reg CF Round</td>
                    <td>$1,000</td>
                    <td>March 15, 2021</td>
                </tr>
                <tr>
                    <th scope="row">Calm Company Fund</th>
                    <td>Reg CF Round</td>
                    <td>$1,000</td>
                    <td>June 18, 2021</td>
                </tr>
                <tr>
                    <th scope="row">Mercury</th>
                    <td>Reg CF Round</td>
                    <td>$1,000</td>
                    <td>Pending</td>
                </tr>
            </tbody>
        </table>
        <br>
        <br>
    </div>
</div>
{% endblock %}