{% extends "base.html" %}

{% block title %}Dear Developers{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 col-md-8 offset-md-2">
        <h1><code class="primary-accent-text">Dear Developers</code></h1>
        <p>
          Dear Developers ships on the first business day of every month. Join developers worldwide in receiving original content every month.
        </p>
        <form action="https://gumroad.com/follow_from_embed_form" class="form gumroad-follow-form-embed input-group"
            method="post"> <input name="seller_id" type="hidden" value="8780358448474"> <input class="form-control" name="email"
                placeholder="you@example.com" type="email"> <button class="btn btn-primary" data-custom-highlight-color=""
                type="submit">Subscribe</button>
        </form>
    </div>
  </div>
  <div class="row">
      <div class="col-12 col-md-8 offset-md-2">
          <hr>
          <h3><code class="primary-accent-text">For Developers</code></h3>
          <p>
              <b>If you create, maintain, or improve, you are a developer.</b> Dear Developers joins a community discussion on technology and business.
          </p>
          <h3><code class="primary-accent-text">Evergreen Ideas</code></h3>
          <p>
              <b>The software world moves quickly, but good ideas last.</b> Dear Developers follows a monthly publication cycle to focus on enduring concepts over topical releases.
          </p>
          <h3><code class="primary-accent-text">Manifold Topics</code></h3>
          <p>
              <b>Full stack, full stop.</b> Dear Developers covers topics from infastructure to user interfaces to web scraping to artificial intelligence.
          </p>
      </div>
  </div>
 {% endblock %}