{% extends "base.html" %}

{% block title %}Philip Kiely: Press{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div class="container">
    <br>
    <table class="table table-condensed table-bordered">
        <thead>
            <tr>
                <th>Show</th>
                <th>Topic</th>
                <th>Format</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a
                        href="https://www.codenewbie.org/podcast/technical-writing-e3787c31-47c8-4bbe-83b4-ca58ff809e06">CodeNewbie</a>
                </td>
                <td>Writing</td>
                <td>Podcast</td>
                <td>December 2022</td>
            </tr>
            <tr>
                <td><a href="https://www.goingforthgrinnell.com/podcast/episode/3f3c23ca/episode-17-the-business-of-life">Going
                        Forth Grinnell</a></td>
                <td>College</td>
                <td>Podcast</td>
                <td>May 2022</td>
            </tr>
            <tr>
                <td><a href="https://sidehustleschool.com/episode/1534/">Side Hustle School</a></td>
                <td>WfSD</td>
                <td>Podcast</td>
                <td>March 2021</td>
            </tr>
            <tr>
                <td><a
                        href="https://www.stitcher.com/show/10minute-tech-comm/episode/philip-kiely-on-writing-for-software-developers-82222415">10
                        Minute Tech Comms</a></td>
                <td>WfSD</td>
                <td>Podcast</td>
                <td>March 2021</td>
            </tr>
            <tr>
                <td><a
                        href="https://www.thenotboringtechwriter.com/blog/2021/02/16/how-to-infiltrate-a-hackathon-in-iowa-with-philip-kiely">The
                        Not-Boring Tech Writer</a></td>
                <td>WfSD</td>
                <td>Podcast</td>
                <td>February 2021</td>
            </tr>
            <tr>
                <td><a href="https://share.transistor.fm/s/737ea61d">Indie Bites</a></td>
                <td>Gumroad</td>
                <td>Podcast</td>
                <td>January 2021</td>
            </tr>
            <tr>
                <td><a href="https://share.transistor.fm/s/744eb874">Career Chats</a></td>
                <td>College</td>
                <td>Podcast</td>
                <td>December 2020</td>
            </tr>
            <tr>
                <td><a
                        href="https://www.writerontheside.com/philip-kiely-on-how-his-book-led-to-a-head-of-marketing-job-at-gumroad/">Writer
                        on the Side</a></td>
                <td>Gumroad</td>
                <td>Podcast</td>
                <td>October 2020</td>
            </tr>
            <tr>
                <td><a href="https://www.se-radio.net/2020/09/episode-426-philip-kiely-on-writing-for-software-developers/">Software
                        Engineering Radio</a></td>
                <td>WfSD #podcastbooktour</td>
                <td>Podcast</td>
                <td>September 2020</td>
            </tr>
            <tr>
                <td><a href="https://gumroad.com/gumroad/p/creator-spotlight-philip-kiely-s-success-on-gumroad">Gumroad
                        Creator Spotlight</a></td>
                <td>Product Launches</td>
                <td>Feature Article</td>
                <td>August 2020</td>
            </tr>
            <tr>
                <td><a href="https://cynicaldeveloper.com/podcast/144/">The Cynical Developer</a></td>
                <td>WfSD #podcastbooktour</td>
                <td>Podcast</td>
                <td>July 2020</td>
            </tr>
            <tr>
                <td><a href="https://www.youtube.com/watch?v=56-RQ9pNpKs">David Perell</a></td>
                <td>WfSD #podcastbooktour</td>
                <td>Video</td>
                <td>July 2020</td>
            </tr>
            <tr>
                <td><a href="https://www.softwaresessions.com/episodes/writing-for-software-developers/">Software
                        Sessions</a></td>
                <td>WfSD #podcastbooktour</td>
                <td>Podcast</td>
                <td>June 2020</td>
            </tr>
            <tr>
                <td><a href="https://www.youtube.com/watch?v=Y5bkChpRbNw">Techapreneur Radio</a></td>
                <td>WfSD #podcastbooktour</td>
                <td>Video</td>
                <td>May 2020</td>
            </tr>
            <tr>
                <td><a href="https://share.transistor.fm/s/a3b9c5fb">The Entrepreneurial Coder Podcast</a></td>
                <td>WfSD #podcastbooktour</td>
                <td>Podcast</td>
                <td>May 2020</td>
            </tr>
            <tr>
                <td><a
                        href="https://stocktalking.podbean.com/e/philip-kiely-on-technical-writing-digital-content-distribution-and-the-post-covid-creator-landscape/">Stock
                        Talking</a></td>
                <td>WfSD #podcastbooktour</td>
                <td>Podcast</td>
                <td>May 2020</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}