{% extends "base.html" %}

{% block title %}Philip Kiely: Press{% endblock %}

{% block head %}
<style>
    .no-style-link {
        text-decoration: none !important;
        color: black !important;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <br>
    <br>
    <div class="col-md-8 offset-md-2">
    <h1>Interviews & Appearances</h1>
    <br>
    <p>I'm honored to have been invited to speak on a number of podcasts and channels. Thank you to every host who has generously shared their audience with me. If you want to create an engaging episode together for your show, please contact me at <a href="mailto:philip@kiely.xyz">philip@kiely.xyz</a>.</p>
    </div>
    <br>
    <br>
    <div class="row col-md-8 offset-md-2 position-relative">
        <div class="col-sm-3 col-md-2">
            <img class="img-fluid" src="/assets/img/press/code-newbie.png" alt="Code Newbie">
        </div>
        <div class="col-sm-9 col-md-10">
            <h3><a class="stretched-link no-style-link" href="https://www.codenewbie.org/podcast/technical-writing-e3787c31-47c8-4bbe-83b4-ca58ff809e06">Code Newbie</a></h3>
            <h5>Season 22, Episode 6: Technical Writing</h5>
            <p>Saron sits down with writer, programmer, and creator, Philip Kiely. Philip is the author of Writing for Software
            Developers and Life-Changing Email. They discuss how he first got into technical writing while studying abroad in
            Budapest, what technical writing is, what technical content platforms are out there, why new developers should publish
            content early in their careers, and more.</p>
        </div>
        <hr>
    </div>
    <div class="row col-md-8 offset-md-2 position-relative">
        <div class="col-sm-3 col-md-2">
            <img class="img-fluid" src="/assets/img/press/se-radio.jpeg" alt="Software Engineering Radio">
        </div>
        <div class="col-sm-9 col-md-10">
            <h3><a class="stretched-link no-style-link"
                    href="https://www.se-radio.net/2020/09/episode-426-philip-kiely-on-writing-for-software-developers/">Software
                    Engineering Radio</a></h3>
            <h5>Episode 426: Writing for Software Developers</h5>
            <p>Philip Kiely discusses his recently published book, Writing for Software Developers. While software
                development
                primarily involves writing code, strong written communication skills are critical for multiple tasks.</p>
        </div>
        <hr>
    </div>
    <div class="row col-md-8 offset-md-2 position-relative">
        <div class="col-sm-3 col-md-2">
            <img class="img-fluid" src="/assets/img/press/side-hustle-school.jpeg" alt="Side Hustle School">
        </div>
        <div class="col-sm-9 col-md-10">
            <h3><a class="stretched-link no-style-link"
                    href="https://sidehustleschool.com/episode/1534/">Side Hustle School</a></h3>
            <h5>Episode 1534: Software Engineer Publishes Technical Writing Guide</h5>
            <p>After a computer programmer with a knack for technical writing is approached for a freelance gig, he ends up writing the
            book on the subject.</p>
        </div>
        <hr>
    </div>
    <div class="row col-md-8 offset-md-2 position-relative">
        <div class="col-sm-3 col-md-2">
            <img class="img-fluid" src="/assets/img/press/going-forth-grinnell.jpg" alt="Going Forth Grinnell">
        </div>
        <div class="col-sm-9 col-md-10">
            <h3><a class="stretched-link no-style-link"
                    href="https://career.grinnell.edu/resources/going-forth-episode-17-the-business-of-life/">Going Forth
                    Grinnell</a></h3>
            <h5>Episode 17: The Business of Life</h5>
            <p>“The business of life” is one of Philip Kiely’s ’20 trademark phrases. It won’t take you long to figure out
                why! On this
                episode, Philip shares his tips, tricks, and wisdom for maximizing your professional trajectory.</p>
        </div>
        <hr>
    </div>
    <div class="row col-md-8 offset-md-2 position-relative">
        <div class="col-sm-3 col-md-2">
            <img class="img-fluid" src="/assets/img/press/10-minute-tech-comm.jpeg" alt="10-Minute Tech Comm">
        </div>
        <div class="col-sm-9 col-md-10">
            <h3><a class="stretched-link no-style-link" href="https://www.stitcher.com/show/10minute-tech-comm/episode/philip-kiely-on-writing-for-software-developers-82222415">10-Minute Tech Comm</a></h3>
            <h5>Episode 64: Writing for Software Developers</h5>
            <p>Philip Kiely, author of Writing for Software Developers talks about how technical
            professionals can write content users love. We discuss the writing process, how to assemble articles effectively, how to
            get users to care about your topics, and why the Heart Bleed Bug was so well named.</p>
        </div>
        <hr>
    </div>
    <div class="row col-md-8 offset-md-2 position-relative">
        <div class="col-sm-3 col-md-2">
            <img class="img-fluid" src="/assets/img/press/not-boring-writer.jpg" alt="The Not Boring Writer">
        </div>
        <div class="col-sm-9 col-md-10">
            <h3><a class="stretched-link no-style-link" href="https://www.thenotboringtechwriter.com/blog/2021/02/16/how-to-infiltrate-a-hackathon-in-iowa-with-philip-kiely">The Not Boring Writer</a></h3>
            <h5>Season 2, Episode 1: How to Infiltrate a Hackathon in Iowa</h5>
            <p>In such a complex and fast-moving industry as tech writing, it can be interesting to see how burgeoning tech writers get
            started—and become successful.</p>
        </div>
        <hr>
    </div>
    <div class="row col-md-8 offset-md-2 position-relative">
        <div class="col-sm-3 col-md-2">
            <img class="img-fluid" src="/assets/img/press/indie-bites.jpg" alt="Indie Bites">
        </div>
        <div class="col-sm-9 col-md-10">
            <h3><a class="stretched-link no-style-link" href="https://share.transistor.fm/s/737ea61d">Indie Bites</a></h3>
            <h5>Episode 18: Making $15k in 24 hours selling a book on Gumroad</h5>
            <p>n this episode I talk to Philip Kiely, Head of Marketing at Gumroad, about how he made 20k in his first week selling an
            info product, why the creator economy is booming, and how you can launch your own product.</p>
        </div>
        <hr>
    </div>
    <div class="row col-md-8 offset-md-2 position-relative">
        <div class="col-sm-3 col-md-2">
            <img class="img-fluid" src="/assets/img/press/career-chats.jpg" alt="Career Chats">
        </div>
        <div class="col-sm-9 col-md-10">
            <h3><a class="stretched-link no-style-link" href="https://share.transistor.fm/s/744eb874">Career Chats</a></h3>
            <h5>Episode 17: The ABC's of a CS Degree</h5>
            <p>Ever feel impostor syndrome because you don't have a CS degree? Philip Kiely joins Swyx and Randall to talk about 3 big
            misconceptions that people have about CS degrees!</p>
        </div>
        <hr>
    </div>
    <div class="row col-md-8 offset-md-2 position-relative">
        <div class="col-sm-3 col-md-2">
            <img class="img-fluid" src="/assets/img/press/writer-on-the-side.jpg" alt="Writer on the Side">
        </div>
        <div class="col-sm-9 col-md-10">
            <h3><a class="stretched-link no-style-link" href="https://www.writerontheside.com/philip-kiely-on-how-his-book-led-to-a-head-of-marketing-job-at-gumroad/">Writer on the Side</a></h3>
            <h5>Episode 56: Book to Job</h5>
            <p>Philip Kiely graduated from college in May 2020 with a degree in Computer Science. Six days before graduation, he
            published his first book called Writing for Software Developers, which made over $15,000 in the first 24
            hours after launch.</p>
        </div>
        <hr>
    </div>
    <div class="row col-md-8 offset-md-2 position-relative">
        <div class="col-sm-3 col-md-2">
            <img class="img-fluid" src="/assets/img/press/gumroad.png" alt="Gumroad">
        </div>
        <div class="col-sm-9 col-md-10">
            <h3><a class="stretched-link no-style-link" href="https://gumroad.com/gumroad/p/creator-spotlight-philip-kiely-s-success-on-gumroad">Gumroad</a></h3>
            <h5>Newsletter: Creator Spotlight</h5>
            <p>Since he published Writing for Software Developers, Philip has detailed every step of the process, from writing,
            marketing, and selling the product, to building the landing page and transcribing audio interviews. His radical
            transparency offers a blueprint for other creators, and his habit of sharing metrics mirrors the philosophy of Gumroad
            itself.</p>
        </div>
        <hr>
    </div>
    <div class="row col-md-8 offset-md-2 position-relative">
        <div class="col-sm-3 col-md-2">
            <img class="img-fluid" src="/assets/img/press/cynical-developer.jpeg" alt="The Cynical Developer">
        </div>
        <div class="col-sm-9 col-md-10">
            <h3><a class="stretched-link no-style-link" href="https://cynicaldeveloper.com/podcast/144/">The Cynical Developer</a></h3>
            <h5>Episode 144: Writing for Developers</h5>
            <p>In this episode we talking about authoring books for developers with Philip Kiely.</p>
            <br>
        </div>
        <hr>
    </div>
    <div class="row col-md-8 offset-md-2 position-relative">
        <div class="col-sm-3 col-md-2">
            <img class="img-fluid" src="/assets/img/press/youtube.jpg" alt="David Perell YouTube">
        </div>
        <div class="col-sm-9 col-md-10">
            <h3><a class="stretched-link no-style-link" href="https://www.youtube.com/watch?v=56-RQ9pNpKs">David Perell</a></h3>
            <h5>YouTube: Writing for Software Developers</h5>
            <p>Phillip Kiely is a technical writer whose new book "Writing for Software Developers" did over $20,000 of gross sales in
            the first week.</p>
        </div>
        <hr>
    </div>
    <div class="row col-md-8 offset-md-2 position-relative">
        <div class="col-sm-3 col-md-2">
            <img class="img-fluid" src="/assets/img/press/software-sessions.jpg" alt="Software Sessions">
        </div>
        <div class="col-sm-9 col-md-10">
            <h3><a class="stretched-link no-style-link" href="https://www.softwaresessions.com/episodes/writing-for-software-developers/">Software Sessions</a></h3>
            <h5>Episode 20: Writing for Software Developers</h5>
            <p>Philip talks about writing effective emails, competing with stack overflow, launching his book, and how developers skim
            tutorials.</p>
        </div>
        <hr>
    </div>
    <div class="row col-md-8 offset-md-2 position-relative">
        <div class="col-sm-3 col-md-2">
            <img class="img-fluid" src="/assets/img/press/entre-coder.jpg" alt="The Entrepreneurial Coder Podcast">
        </div>
        <div class="col-sm-9 col-md-10">
            <h3><a class="stretched-link no-style-link" href="https://share.transistor.fm/s/a3b9c5fb">The Entrepreneurial Coder Podcast</a></h3>
            <h5>Episode 30: Nailing a Book Launch With Only 13 Twitter Followers</h5>
            <p>Philip takes us through his journey writing and launching his new book, Writing for Software Developers, and how he
            nailed the launch with a very small audience.</p>
        </div>
        <hr>
    </div>
    <div class="row col-md-8 offset-md-2 position-relative">
        <div class="col-sm-3 col-md-2">
            <img class="img-fluid" src="/assets/img/press/stock-talking.png" alt="Stock Talking">
        </div>
        <div class="col-sm-9 col-md-10">
            <h3><a class="stretched-link no-style-link" href="https://stocktalking.podbean.com/e/philip-kiely-on-technical-writing-digital-content-distribution-and-the-post-covid-creator-landscape/">Stock Talking</a></h3>
            <h5>Episode 11: Technical Writing and Digital Content Distribution</h5>
            <p>Our conversation covers a wide range of topics on software, writing, the future of digital information distribution and
            more. Philip goes deep on the craft of technical writing and interviewing as well as marketing, distribution and
            connecting with audiences. We discuss the success of creator-focused content platform Gumroad and the economics of
            Gumroad versus Amazon. Philip analyzes the impact of COVID on digital content, universities and more.</p>
            <br>
            <br>
        </div>
    </div>
</div>
{% endblock %}