{% extends "base.html" %}

{% block title %}Philip Kiely: Products{% endblock %}

{% block head %}
<link rel="stylesheet" href="/assets/css/products.css" type="text/css">
{% endblock %}

{% block content %}
<!--Adapted from https://github.com/twbs/bootstrap/tree/main/site/content/docs/5.0/examples/product under MIT license-->
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 fw-normal">Made for You</h1>
    <p class="lead fw-normal">I create products & services for software developers and other curious, engaged professionals & students.</p>
    <a class="btn btn-outline-secondary" href="https://pkandc.com/">More @ PK&C</a>
  </div>
  <div class="product-device shadow-sm d-none d-md-block">
    <img class="img-fluid" src="/assets/img/pages/products/portrait_wptw.png">
  </div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block">
    <img class="img-fluid" src="/assets/img/pages/products/portrait_wfsd.png">
  </div>
</div>

<div class="d-lg-flex flex-lg-equal w-100 my-lg-3 ps-lg-3">
  <div class="bg-dark me-lg-3 pt-3 px-3 pt-lg-5 px-lg-5 text-center text-white overflow-hidden position-relative">
    <div class="my-3 py-3">
      <a class="stretched-link reg-link-light" href="/wfsd/"><h2 class="display-5">Writing for Software Developers</h2></a>
      <p class="lead">A complete guide to creating technical content.</p>
    </div>
    <div class="mx-auto product-preview">
      <img class="img-fluid img-kinda-roundish" src="/assets/img/wfsd_subtle_render.jpg">
    </div>
  </div>
  <div class="bg-light me-lg-3 pt-3 px-3 pt-lg-5 px-lg-5 text-center overflow-hidden position-relative">
    <div class="my-3 p-3">
      <a class="stretched-link reg-link-dark" href="/cefip/"><h2 class="display-5">Life-Changing Email</h2></a>
      <p class="lead">A multimedia course on inciting opportunity.</p>
    </div>
    <div class="mx-auto product-preview">
      <img class="img-fluid img-kinda-roundish" src="/assets/img/pages/cefip/cefip_vertical_graphic.png">
    </div>
  </div>
</div>

<div class="d-lg-flex flex-lg-equal w-100 my-lg-3 ps-lg-3">
  <div class="bg-light me-lg-3 pt-3 px-3 pt-lg-5 px-lg-5 text-center overflow-hidden position-relative">
    <div class="my-3 p-3">
      <a class="stretched-link reg-link-dark" href="https://whopaystechnicalwriters.com"><h2 class="display-5">Who Pays Technical Writers?</h2></a>
      <p class="lead">A curated collection of places to write.</p>
    </div>
    <div class="mx-auto product-preview">
      <img class="img-fluid img-kinda-roundish" src="/assets/img/pages/products/WPTW_Products.png">
    </div>
  </div>
  <div class="bg-dark me-lg-3 pt-3 px-3 pt-lg-5 px-lg-5 text-center text-white overflow-hidden position-relative">
    <div class="my-3 py-3">
      <a class="stretched-link reg-link-light" href="/rhymes"><h2 class="display-5">Poetry Generator</h2></a>
      <p class="lead">A poetry generator powered by GPT-3.5</p>
    </div>
    <div class="mx-auto product-preview">
      <img class="img-fluid img-kinda-roundish" src="/assets/img/rhymes_twitter_thumbnail_large.png">
    </div>
  </div>
</div>

{% endblock %}