{% extends "base.html" %}

{% block title %}Philip Kiely: Products{% endblock %}

{% block content %}
<h1 class="primary-accent-text">Products</h1>
<div class="row">
<div class="col-12 col-md-6 jumbotron bg-info">
  <h2>Writing for Software Developers</h2>
  <hr class="my-4">
  <p class="lead">For software developers working to hone their craft, grow their audience, and share their skills.</p>
  <a class="btn btn-dark btn-lg stretched-link" href="/wfsd/" role="button">Learn more</a>
</div>
<div class="col-12 col-md-6 jumbotron bg-light">
  <h2>Cold Email for Interesting People</h2>
  <hr class="my-4">
  <p class="lead">How to ask for what you want.</p>
  <a class="btn btn-primary btn-lg stretched-link" href="/cefip/" role="button">Learn
    More</a>
</div>
<!--<div class="col-12 col-md-6 jumbotron bg-light">
  <h2>PK&C Designs</h2>
  <hr class="my-4">
  <p class="lead">Physical instantiations of visual identity.</p>
  <a class="btn btn-primary btn-lg stretched-link" href="https://www.redbubble.com/shop/ap/48632198" role="button">Learn More</a>
</div>-->
</div>
<div class="row">
<div class="col-12 col-md-6 jumbotron bg-dark white-text">
  <h2>Dear Developers</h2>
  <hr class="my-4">
  <p class="lead">Join developers worldwide in receiving original content every month.</p>
  <a class="btn btn-info btn-lg stretched-link" href="/newsletter/" role="button">Learn more</a>
</div>
<div class="col-12 col-md-6 jumbotron bg-primary">
  <h2>PK&C Consulting</h2>
  <hr class="my-4">
  <p class="lead">I work with businesses of all sizes on a contract basis to turn content and code into business solutions.</p>
  <a class="btn btn-light btn-lg stretched-link" href="/company/" role="button">Learn more</a>
</div>
</div>
{% endblock %}