{% extends "base.html" %}

{% block title %}Writing for Software Developers{% endblock %}

{% block twitter %}
<meta name="twitter:title" content="Writing for Software Developers">
<meta name="twitter:description" content="A programmer's guide to crafting and publishing technical content">
<meta name="twitter:image" content="https://philipkiely.com/assets/img/wfsd_twitter_thumbnail.png" />
{% endblock %}

{% block head %}
<script src="/assets/js/wfsd.js"></script>
{% endblock %}


{% block content %}
<div class="row align-items-center"><!--Intro-->
    <div class="col-md-6">
      <div class="p-5">
        <img class="img-fluid" src="/assets/img/wfsd_paper_render.jpg" alt="Writing for Software Developers">
      </div>
    </div>
    <div class="col-md-6">
        <h2 class="primary-accent-text">Writing for Software Developers</h2>
        <p>In my first year of writing technical content, I reached hundreds of thousands of readers around the world, met some of my role models, and made thousands of dollars. <i>Writing for Software Developers</i> will help you on your way to doing the same.</p>
        <br>
        <h5>Earn money, make connections, and get noticed.</h5>
        <p>I earn $250 to $500 per article when writing tutorials — and with a few projects, that money adds up. But money isn't the only reason to write. A portfolio of published writing can give you a leg up toward earning a raise, landing a new job, or reaching new clients or customers.</p>
        <br>
        <h5>Practice a proven writing method.</h5>
        <p><i>Writing for Software Developers</i> outlines my own method for writing and developing technical articles that will earn you money and look great in a portfolio. By following the principles in this book, you will become a better writer — and practicing quality techniques like these will speed up your rate of improvement.</p>
        <br>
        <h5>Level up your skills, wherever you use them.</h5>
        <p>Writing for Software Developers focuses on teaching you how to envision, create, and publish mid-length technical tutorials and articles, but the principles and practices you’ll develop will help you write anything from a short README to an entire technical book. And regardless of why you write, this guide aims to provide you with the techniques you will need to reach your goals.</p>
        <br>
    </div>
</div>
<div class="row align-items-center">
    <div class="col-12 col-md-6 text-center">
    <div class="card bg-light mb-3">
    <div class="card-body">
        <h2 class="primary-accent-text">Get Writing for Software Developers Today!</h2>
        <br>
        <p class="text-monospace">Single Copy: <b><span class="price-text">$36</span></b> | Team License: <span class="price-text">$136</span></p>
        <br>
        <p>Josh W Comeau: "I've been reading <a href="https://twitter.com/philip_kiely">@philip_kiely</a>'s “Writing for Software Developers” and it's SO GOOD. I'm only 70 pages in and I've already learned a ton."</p>
        <br>
        <a class="btn btn-lg btn-block btn-success" href="https://gum.co/uZPZU">Click Here to Buy Now on Gumroad</a>
    </div>
    </div>
    </div>
    <div class="col-12 col-md-6">
        <a href="https://twitter.com/JoshWComeau/status/1264282647834046465"><img src="/assets/img/pages/wfsd/twitter_josh_comeau.jpg" class="img-fluid" alt="Tweet: Josh Calderon"></a>
    </div>
</div>
<style>
.btn-success {
    background: rgb(30,200,30);
    background: linear-gradient(90deg, rgba(30,130,30,1) 0%, rgba(30,190,30,1) 50%, rgba(30,130,30,1) 100%);
}
</style>
<br>
<!--INTERVIEW SECTION-->
<div class="row">
    <h1 class="primary-accent-text">Featuring Interviews with...</h1>
</div>
<br>
<div class="row">
    <div class="col-sm-3 col-md-2">
        <img class="img-fluid rounded-circle" src="/assets/img/pages/wfsd/hs_courtland_allen.jpg" alt="Courtland Allen">
    </div>
    <div class="col-sm-9 col-md-10">
        <h3>Courtland Allen</h3>
        <h5>Indie Hackers</h5>
        <p>Courtland Allen is the founder of Indie Hackers, an online community for people working on independent bootstrapped businesses, of which I am proud to count myself as a member. Indie Hackers, now owned by Stripe, has been a source of knowledge and inspiration to me throughout the process of writing this book. Allen has interviewed over five hundred founders for his site and podcast.</p>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-3 col-md-2">
        <img class="img-fluid rounded-circle" src="/assets/img/pages/wfsd/hs_jeff_atwood.png" alt="Jeff Atwood">
    </div>
    <div class="col-sm-9 col-md-10">
        <h3>Jeff Atwood</h3>
        <h5>Discourse, Stack Overflow, Coding Horror</h5>
        <p>Jeff Atwood is the writer of Coding Horror (one of the internet's longest-running and most popular technical blogs), co-founder of Stack Overflow and the Stack Exchange network (one of the 100 highest-traffic sites in the United States), and co-founder of Discourse (a provider of open-source forum software aiming to improve the state of online communication).</p>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-3 col-md-2">
        <img class="img-fluid rounded-circle" src="/assets/img/pages/wfsd/hs_chris_on_code.jpg" alt="Chris on Code">
    </div>
    <div class="col-sm-9 col-md-10">
        <h3>Chris on Code</h3>
        <h5>Scotch.io</h5>
        <p>Chris on Code started scotch.io with his childhood friend Nick Cerminara to publish articles and courses on front-end development. Under his care, the site grew to four million monthly page views and published over five hundred guest authors before he sold Scotch to Digital Ocean in late 2019. He joined the company as a web community manager.</p>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-3 col-md-2">
        <img class="img-fluid rounded-circle" src="/assets/img/pages/wfsd/hs_peter_cooper.png" alt="Peter Cooper">
    </div>
    <div class="col-sm-9 col-md-10">
        <h3>Peter Cooper</h3>
        <h5>Cooper Press</h5>
        <p>Peter Cooper runs Cooper Press, a publisher of a dozen email newsletters with a combined distribution of almost half a million developers at the time of writing. He reads countless technical articles in search of the best content to share with his subscribers.</p>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-3 col-md-2">
        <img class="img-fluid rounded-circle" src="/assets/img/pages/wfsd/hs_angel_guarisma.jpg" alt="Angel Guarisma">
    </div>
    <div class="col-sm-9 col-md-10">
        <h3>Angel Guarisma</h3>
        <h5>Former Director of Content at Linode</h5>
        <p>Angel Guarisma eats, sleeps, and breathes documentation. At the time of our interview, he was the Director of Content at Linode, a cloud computing company with a major presence in the open source community. He now works as the Director of Product Education at Humio. At Linode, Guarisma led an in-house team of technical writers and editors and works with numerous freelancers to publish wide-ranging and comprehensive tutorials and documentation.</p>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-3 col-md-2">
        <img class="img-fluid rounded-circle" src="/assets/img/pages/wfsd/hs_matt_levine.jpg" alt="Matt Levine">
    </div>
    <div class="col-sm-9 col-md-10">
        <h3>Matt Levine</h3>
        <h5>Money Stuff at Bloomberg</h5>
        <p>Matt Levine is a columnist at Bloomberg where he writes <i>Money Stuff</i>, an incredibly popular weekday newsletter on finance that is widely read in the tech sector. Previously, he wrote at Dealbreaker, and he has written for <i>The Wall Street Journal</i>, CNN.com, and NPR. While his substantial experience is entirely outside writing about software, his techniques and insights are applicable to the work we do.</p>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-3 col-md-2">
        <img class="img-fluid rounded-circle" src="/assets/img/pages/wfsd/hs_mark_mcgranaghan.jpg" alt="Mark McGranaghan">
    </div>
    <div class="col-sm-9 col-md-10">
        <h3>Mark McGranaghan</h3>
        <h5>Go by Example</h5>
        <p>Mark McGranaghan created Go by Example, a website for teaching the programming language Go. Go by Example drew attention for its two-column design and quality example code. Today, he works at Ink & Switch, a research lab that produces reports and spin-off companies in consumer software.</p>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-3 col-md-2">
        <img class="img-fluid rounded-circle" src="/assets/img/pages/wfsd/hs_patrick_mckenzie.jpg" alt="Patrick McKenzie">
    </div>
    <div class="col-sm-9 col-md-10">
        <h3>Patrick McKenzie</h3>
        <h5>@patio11, Kalzumeus</h5>
        <p>Patrick McKenzie has been writing on his website, kalzumeus.com, since 2006. He has written over five hundred articles about lessons learned working on Bingo Card Creator, Appointment Reminder, and Starfighter, consulting for software companies on engineering and marketing, and most recently working on Atlas for Stripe. He is also the third highest-ranked user of all time by upvotes on Hacker News.</p>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-3 col-md-2">
        <img class="img-fluid rounded-circle" src="/assets/img/pages/wfsd/hs_tracy_osborn.jpg" alt="Tracy Osborn">
    </div>
    <div class="col-sm-9 col-md-10">
        <h3>Tracy Osborn</h3>
        <h5>Hello Web Books</h5>
        <p>Tracy Osborn is a writer and conference speaker. She has published three books under the "Hello Web" series: <i>Hello Web App</i>, <i>Hello Web App Intermediate Concepts</i>, and <i>Hello Web Design</i>. She is a frequent speaker at numerous events, writes extensively on her personal website, and currently works at TinySeed.</p>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-3 col-md-2">
        <img class="img-fluid rounded-circle" src="/assets/img/pages/wfsd/hs_daniel_vassallo.jpg" alt="Daniel Vassallo">
    </div>
    <div class="col-sm-9 col-md-10">
        <h3>Daniel Vassallo</h3>
        <h5>The Good Parts of AWS</h5>
        <p>Daniel Vassallo worked at AWS for eight years. After quitting to work for himself, one of the first things he created was the self-published ebook <i>The Good Parts of AWS</i>, with Josh Pschorr. Thanks in large part to Vassallo's audience on Twitter, which he earned by sharing detailed insights into his work, the book sold thousands of copies in its first three months on the market, generating over $50,000 in revenue.</p>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-3 col-md-2">
        <img class="img-fluid rounded-circle" src="/assets/img/pages/wfsd/hs_cassidy_williams.jpg" alt="Cassidy Williams">
    </div>
    <div class="col-sm-9 col-md-10">
        <h3>Cassidy Williams</h3>
        <h5>Former Speaker with React Training</h5>
        <p>Cassidy Williams has spent years working in developer evangelism, speaking at dozens of conferences, and writing technical content, including the Stack Overflow newsletter. At the time of the interview, she taught with React Training. She now works at Netlify. She publishes a weekly newsletter, <i>rendezvous with cassidoo</i>.</p>
    </div>
</div>
<!--END INTERVIEW SECTION-->
<br>
<br>
<hr>
<br>
<br>
<!--SAMPLE CHAPTER SECTION-->
<div class="row justify-content-center">
    <div class="col-12 text-center">
    <div class="card bg-light mb-3">
    <div class="card-body">
    <h1 class="primary-accent-text">Free Chapter</h1>
    <h3>Read Chapter 1, Finding and Validating Ideas, for free.</h3>
    <br>
    <div class="col-md-8 offset-md-2">
    <p>This chapter guides you through a process for generating article ideas and helps you determine which ideas are worth pursuing first.</p>
    </div>
    <br>
    <a href="/assets/files/wfsd_chapter1_sample.pdf" target="_blank" class="btn btn-primary btn-lg">READ CHAPTER 1</a>
    <a href="https://youtu.be/glTuJ2kniGg" target="_blank" class="btn btn-primary btn-lg">LISTEN TO CHAPTER 1</a>
    </div>
    </div>
    </div>
</div>
<!--END SAMPLE CHAPTER SECTION-->
<br>
<br>
<hr>
<br>
<br>
<!--TOC SECTION-->
<div class="row align-items-center">
<div class="col-12 col-md-6">
    <h1 class="primary-accent-text">Table of Contents</h1>
    <br>
    <ul class="no-bullets">
        <li><b>Prologue: Why Write Technical Content</b></li>
        <li>0: You and Your Guide<li>
        <br>
        <li><b>Act 1: The Craft</b><li>
        <li>1: Finding and Validating Ideas<li>
        <li>2: Publishers<li>
        <li>3: Research<li>
        <li>4: Preparing to Write<li>
        <li>5: Writing for Software Developers<li>
        <li>6: Editing<li>
        <li>7: Publishing<li>
        <br>
        <li><b>Act 2: The Process in Action</b><li>
        <li>8: Example Tutorial: Scraping and Generating Shakespearean Sonnets<li>
        <li>9: Example Tutorial: Practicing JavaScript with a Shakespearean Sonnet Generator<li>
        <li>10: Example Tutorial: Computational Poetry<li>
        <br>
        <li><b>Act 3: The Business of Writing</b><li>
        <li>11: Pricing<li>
        <li>12: Contracts and Invoicing<li>
        <li>13: Intellectual Property and Publication Rights<li>
        <li>14: Content Monetization<li>
        <li>15: Promoting Your Work<li>
        <li>16: Long-Term Engagements<li>
    <ul>
</div>
<div class="col-12 col-md-4 offset-md-1">
    <img class="img-fluid" src="/assets/img/pages/wfsd/wfsd_ipad_render.jpg" alt="Writing for Software Developers">
</div>
</div>
<style>
 .no-bullets {
  list-style-type: none;
  font-size: 20px;
}
</style>
<!--END TOC SECTION-->
<br>
<br>
<hr>
<br>
<br>
<div class="row align-items-center">
    <div class="col-12 col-md-6 text-center">
    <div class="card bg-light mb-3">
    <div class="card-body">
        <h2 class="primary-accent-text">Get Writing for Software Developers Today!</h2>
        <br>
        <p class="text-monospace">Single Copy: <b><span class="price-text">$36</span></b> | Team License: <span class="price-text">$136</span></p>
        <br>
        <p>Filippo Valsorda: "One thing doesn't seem right: I was prepared to spend 2–3x.... It just occurred to me that I could justifiably expense a team license, which makes its price ~criminally low."</p>
        <br>
        <a class="btn btn-lg btn-block btn-success" href="https://gum.co/uZPZU">Click Here to Buy Now on Gumroad</a>
    </div>
    </div>
    </div>
    <div class="col-12 col-md-6">
        <a href="https://twitter.com/FiloSottile/status/1260345885260685312"><img src="/assets/img/pages/wfsd/twitter_filippo.jpg" class="img-fluid" alt="Tweet: Filippo Valsorda"></a>
    </div>
</div>
<br>
<br>
<hr>
<br>
<br>
<!--ATA SECTION-->
<div class="row">
    <div class="col-12">
    <h1 class="primary-accent-text">About the Author</h1>
    </div>
    <div class="col-md-6">
        <div class="p-5">
            <img class="img-fluid" src="/assets/img/SeatedPortraitCropped.jpg" alt="Philip Kiely">
        </div>
    </div>
    <div class="col-md-6">
        <div class="p-5">
            <h5>Hi, I'm Philip Kiely</h5>
            <p>In Spring 2019, I started writing technical tutorials. After noticing my success publishing tens of thousands of words of technical content, friends and co-workers started asking me how they could do the same. Their interest inspired me to write this book. </p>
            <p>I published <i>Writing for Software Developers</i> on May 12, 2020, six days before my virtual college graduation ceremony, where I received a B.A. with honors in computer science from Grinnell College. I now live in Clive, Iowa. When I am not writing and programming, I practice martial arts, read widely, and further my love of the Marvel Cinematic Universe.</p>
            <p>For more about me, check out <a href="/">the rest of my website</a>.
        </div>
    </div>
</div>
<br>
<div class="row align-items-center">
    <div class="col-12">
    <h2 class="primary-accent-text">Clients I've Written For</h2>
    <br>
    </div>
    <div class="col-md-4">
        <h3><img class="img-fluid" src="https://www.smashingmagazine.com/images/logo/logo--red.png" alt="Smashing Magazine"> Smashing Magazine</h3>
    </div>
    <div class="col-md-4">
        <h3><img class="img-fluid" src="https://i2.wp.com/css-tricks.com/wp-content/uploads/2013/06/CSS-Tricks-logo.png" alt="CSS Tricks"></h3>
    </div>
    <div class="col-md-4">
        <h3><img class="img-fluid" src="/assets/img/pages/wfsd/Twilio-logo.png" alt="Twilio"></h3>
    </div>
    <div class="col-md-4">
        <h3><img class="img-fluid" src="https://blog.floydhub.com/content/images/size/w1000/2018/10/floydhub_logo_large_transparent.png" alt="FloydHub"></h3>
    </div>
    <div class="col-md-4">
        <h3><img class="img-fluid" src="https://wonderproxy.com/img/logos/wonderproxy-colour.svg" alt="WonderProxy"></h3>
    </div>
    <div class="col-md-4 text-center">
        <h1><a href="/notes/posts.html">...and More</a></h1>
    </div>
</div>
<!--END ATA SECTION-->
<br>
<br>
<hr>
<br>
<br>
<!--FAQ SECTION-->
<div class="row align-items-center">
    <div class="col-12 col-md-6">
        <h1 class="primary-accent-text">Questions?</h1>
        <h5>Is this book good for beginning writers?</h5>
        <p>Yes. <i>Writing for Software Developers</i> takes you through my process, one step at a time, and helps you create and publish your first article.</p>
        <br>
        <h5>Is this book good for experienced writers?</h5>
        <p>Yes. If you have already written and published technical content, you will enjoy the nuances of the eleven expert interviews and extract key insights from the main text.</p>
        <br>
        <h5>How much programming experience do you need to read this book?</h5>
        <p>Not as much as you might think. I started writing technical content as a junior in college, less than two years after I started programming. Many of the code examples I used in articles were based on projects that I had worked on much earlier in my journey toward becoming a software engineer.</p>
        <br>
        <h5>Is there a paper copy for sale anywhere?</h5>
        <p>If enough people express interest, I will figure out how to make one.</p>
        <br>
        <h5>Is there an audiobook version?</h5>
        <p>Yes! Your purchase of <i>Writing for Software Developers</i> includes an audiobook version narrated by Griffin Mareske. The audiobook is 6 hours and 35 minutes long and does not include the appendices, images, or code snippets.</p>
        <br>
    </div>
    <div class="col-12 col-md-6">
        <h5>Can I share this book with my team?</h5>
        <p>If you purchase an individual license, please respect the license terms and do not distribute any copies. If you want to share the book with your team, company, or class, please purchase a team license. Academic and nonprofit organizations can contact me for fifty percent off a team license.</p>
        <br>
        <h5>Is there a return policy?</h5>
        <p>I have a 30-day no-questions-asked refund policy. If you don't like it, let me know and I will refund your money.</p>
        <br>
        <h5>What if I can't afford this book?</h5>
        <p>I priced this book as I did because it teaches valuable skills in a well-compensated industry. If you are unable to afford a copy of the book, send me an email and I can give you a free copy. I only ask that once you make money using the book, you use a portion of the proceeds to purchase a copy of this book.</p>
        <br>
        <h5>What are some keywords you wish you could fit on this webpage for SEO purposes?</h5>
        <p>Wow, thanks for asking! Writing for software engineers. Writing for programmers. Writing for coders. Technical writing. How to write documentation.</p>
        <br>
        <h5>What if I have another question?</h5>
        <p>Send me an email at <a href="mailto:philip@kiely.xyz">philip@kiely.xyz</a>.</p>
        <br>
    </div>
</div>
<!--END FAQ SECTION-->
<!--PRICING SECTION-->
<div class="row align-items-center">
    <div class="col-12 col-md-6 text-center">
    <div class="card bg-light mb-3">
    <div class="card-body">
        <h2 class="primary-accent-text">Get Writing for Software Developers Today!</h2>
        <br>
        <p class="text-monospace">Single Copy: <b><span class="price-text">$36</span></b> | Team License: <span class="price-text">$136</span></p>
        <br>
        <p>Keller Scholl: "$36 is, in this case, absurdly cost-competitive, and I am buying it...the difference in income over a single year from writing well is massive."</p>
        <br>
        <br>
        <a class="btn btn-lg btn-block btn-success" href="https://gum.co/uZPZU">Click Here to Buy Now on Gumroad</a>
    </div>
    </div>
    </div>
    <div class="col-12 col-md-6">
        <a href="https://twitter.com/KellerScholl/status/1260251398811205633"><img src="/assets/img/pages/wfsd/twitter_keller.jpg" class="img-fluid" alt="Tweet: Keller Scholl"></a>
    </div>
</div>
<!--END PRICING SECTION-->
<br>
<br>
<hr>
<br>
<br>
<!--SAMPLE CHAPTER SECTION-->
<div class="row justify-content-center">
    <div class="col-12 text-center">
    <div class="card bg-light mb-3">
    <div class="card-body">
    <h1 class="primary-accent-text">Want to Learn More First?</h1>
    <p>Listen to "Episode 426: Philip Kiely on Writing for Software Developers" on Software Engineering Radio, hosted by Jeff Doolittle and produced by IEEE. We talk about "why software engineers should care about writing things other than code.... the elements of effective technical writing and technical writers.... [and] the reason for the book and the approach for writing it."</p>
    <br>
    <div class="col-md-8 offset-md-2">
    </div>
    <br>
    <a href="https://www.se-radio.net/2020/09/episode-426-philip-kiely-on-writing-for-software-developers/" target="_blank" class="btn btn-primary btn-lg">LISTEN TO EPISODE 426</a>
    </div>
    </div>
    </div>
</div>
<br>
<br>
<hr>
<br>
<br>
<style>
p, button {
    font-size: 17px;
}
</style>
{% endblock %}
